.cv {
  h1 {
    text-align: center;
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .summary {
    width: 350px;
    float: right;
    margin: 0 0 0 20px;
    outline: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;

    p {
      margin: 0 0 10px;
      font-weight: bold;
    }

    li {
      margin-left: 15px;
    }

    @media (max-width: 768px) {
      width: 100%;
      float: none;
      margin: 0 0 20px 0;
    }
  }

  .subtitle {
    font-style: italic;
    color: #333;
    margin: 0;
    white-space: pre-wrap;
  }

  .references {
    font-weight: bold;
    margin: 50px 0 30px;
    text-align: center;
  }
}
